/**
 * Created by lurai on 16/2/16.
 */

* {
    margin:             0;
    padding:            0;
}

body {
    font-size:          62.5%;
    font-family:        'Montserrat', sans-serif;
    background-color:   #ECECEA;
}

a {
    text-decoration:    none;
}



/*********************** HEADER ***************************/

header {
    background-color:   #558C89;
    height:             auto;
    border-bottom:      5px ridge #558C89;
}

header h1 {
    text-align:         center;
    font-size:          3rem;
    padding-top:        7vh;
    color:              #ECECEA;
}



/********************* SEARCH FIELD ************************/

.search {
    position:           relative;
    width:              400px;
    text-align:         center;
    margin:             5vh auto 3vh;
}

input[type="text"] {
    height:                 25px;
    border:                 0;
    font-size:              1rem;
    margin:                 4px;
    padding:                5px 20px 5px 20px;
    width:                  250px;
    border-radius:          17px 0 0 17px;

}

input[type="text"]:focus {
    outline:                none;
}

.searchBtn {
    background:             #D9853B;
    border:                 0;
    color:                  #eee;
    font-size:              0.8rem;
    cursor:                 pointer;
    float:                  right;
    font-weight:            bold;
    height:                 35px;
    margin:                 4px 4px 0;
    margin-left:            -25px;
    width:                  90px;
    outline:                none;
    border-radius:          0 17px 17px 0;

}

.searchBtn:hover {
    background:             #cc7a39;
}

.searchBtn:active {
    background:             #cc7a39;
}

.fa-random {
    font-size:              1.7rem;
    color:                  #558C89;
    position:               absolute;
    left:                   275px;
    top:                    10px;
}

.fa-random:hover {
    color: #3d6764;
}



/******************** SEARCH RESULTS **********************/

#search-results {
    padding:            20px;
    text-align:         center;
}

.result {
    display:            inline-block;
    border:             solid 1px #656565;
    border-radius:      5px;
    box-shadow:         #c1c1bf;
    overflow:           hidden;
    vertical-align:     top;        /* makes divs be properly align */
    background-color:   #d2d2d2;
    text-align:         left;
    width:              300px;
    margin:             20px;
    padding:            10px;
    max-height:         400px;
}

.img {
    background-size:    cover;
    height:             200px;
    border:             5px ridge whitesmoke;
    border-radius:      3px;
}

.title {
    padding-top:        15px;
    padding-bottom:     5px;
    font-size:          1.2rem;
    color:              #925629;
}

.snippet {
    height:             300px;
    padding-top:        10px;
    font-size:          1rem;
    font-family:        'Handlee', cursive;
    color:              #464646;
}

.result:hover {
    background-color: #c1c1bf;;
}


